<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/partial/style/style.css">
</head>
<body>

    <div class="main">
        <p class="main_para">
            How to bind column collection from view model in SfData Grid Xamarin Froms?
        </p>
  
        <p class="main_para_cont">Publish on Nov16,2018 <span class="main_para_cont_tag">Tags</span> <span class="main_para_cont_dis"> binding, colum, general, view model</span></p>

        <hr>

        <p class="main_para">
            How to crreate a custom Grid Column?
        </p>
  
        <p class="main_para_cont">Publish on oct26,2018 <span class="main_para_cont_tag">Tags</span> <span class="main_para_cont_dis"> Grid column</span></p>

        <hr>

        <p class="main_para">
            How to have diffrent page size in sfDataPager with Sf DataGrid when the device in horizontal and vertical orientation mode"
        </p>
  
        <p class="main_para_cont">Publish on Nov16,2018 <span class="main_para_cont_tag">Tags</span> <span class="main_para_cont_dis"> Orientation, paper, pagination, paging</span></p>

        
    </div>
    
</body>
</html>